body {
    background-color: black;
    color: white;
}

.content {
    margin: auto;
    text-align: center;
    width: 500px;
}

img {
    height: 150px;
    width: 150px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 3em;
}